@model ShopProject.Models.Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopStockAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopStockAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
