@model IEnumerable<ShopProject.Models.Shop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ShopStockAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ProductStockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopStockAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductStockID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShopID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShopID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShopID })
        </td>
    </tr>
}

</table>
