@model GroupProject.Models.Bottling

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bottling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottlingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottlingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottlingLotNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottlingLotNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottlingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
